[Unit]
Description=PPR manager
After=com.amd.ppr.service

[Service]
ExecStart=/usr/bin/amd-bmc-ppr
SyslogIdentifier=amd-bmc-ppr
Type=dbus
BusName=com.amd.ppr

[Install]
WantedBy=multi-user.target
