[Unit]
Description=AMD Post Package Repair Manager
After=multi-host-config.service
ConditionPathExists=/etc/amd/hosts.d/host%i.conf

[Service]
Restart=always
ExecStartPre=mkdir -p /var/lib/amd-ppr
ExecStart=/usr/bin/amd-bmc-ppr %i

[Install]
WantedBy=multi-user.target
